@font-face {
    font-family: roboto-med;
    src: 
        local("Roboto-Medium.ttf"),
        url("../fonts/Roboto-Medium.ttf");
}

:root {
    --dark-color: #1f2937;
    --text-color: #f9faf8;
    --text-secondary-color: #e5e7eb;
    --accent-color: #3882f6;

    --fs-small: 18px;
    --fs-medium: 24px;
    --fs-large: 36px;
    --fs-xl: 48px;

    font-family: roboto-med;
}

body {
    margin: 0;
}

header,
footer {
    background-color: var(--dark-color);
    padding: 0 5rem 7rem;
}

.header-nav {
    margin: 0 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-color);
    font-size: var(--fs-medium);
}

.nav-links {
    display: flex;
    font-size: var(--fs-small);
}

li {
    list-style: none;
    padding-left: 1.5rem;
    
}

a {
    color: var(--text-secondary-color);
    text-decoration: none;
    
}

a:hover {
    color: var(--accent-color);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items:center;
    overflow: hidden;
    object-fit: contain;
    height: 250px;
}

.hero-text-button {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.hero-title {
    color: var(--text-color);
    font-size: var(--fs-xl);
    font-weight: 900;
    margin: 0;
}

.hero-text {
    color: var(--text-secondary-color);
    font-size: var(--fs-small);
    margin-top: 0;
    margin-bottom: 0;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 5px 25px;
    border-radius: 5px;
    width: 150px;
}

.hero-img {
    
    height: 300px; 
}

.card img {
    width: 40px;
}